TELEGRAM_BOT_TOKEN=8221731678:AAHgJzZoRDXErMNMaigDGPp6huXpsa2rU6c
BINANCE_API_TOKEN=CHBOPc43GNp5YdVGzplwsmmJqCM2fndfKJuODAp3PwZAWPLsPKulphLkzW3Uvhl9

DB_HOST=localhost
DB_PORT=27017
DB_USERNAME=admin
DB_PASSWORD=secret
DB_NAME=botish